# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.index
**/.metadata
**/.classpath
**/.project
**/.settings
*.class
**/logs
*.bak
**/target
**/.settings
**/RemoteSystemsTempFiles
.idea
/.idea
**/.factorypath
**/.recommenders
**/.classpath
**/*.iml